# Node modules
node_modules

# Build output
.next
out

# Logs
*.log

# System files
.DS_Store

# Coverage and testing
coverage

# Env and config
.env
.env.local
.env.*.local

# Public/static assets
public/**/*.*
static/**/*.*

# IDE settings
.vscode

# Other
package-lock.json
pnpm-lock.yaml
yarn.lock
